{% extends 'VispanlabSiteBundle::base.html.twig' %}

{% block content %}
<div class="row text-center">
    <div class="col-md-12 concept-details">
        <h2 style="margin-top: 0;"><strong>{{concept.nameForLang('el')|raw}}</strong><hr /></h2>
        <div class="row text-justify">
            <div class="col-md-6">
                {% if concept.hasDefinitionForLang('en') %}
                {% include 'VispanlabSiteBundle:ConceptLibrary:concept_block.html.twig' with {
                    'concept': concept,
                    'method': 'definitionForLang',
                    'block_name' : 'DEFINITION',
                    'locale': 'en',
                } %}
                {% endif %}
                {% include 'VispanlabSiteBundle:ConceptLibrary:concept_block.html.twig' with {
                    'concept': concept,
                    'method': 'relatedConceptsForLang',
                    'block_name' : 'ΣΥΝΑΦΕΙΣ ΕΝΝΟΙΕΣ',
                    'locale': 'el',
                } %}
                {% if concept.media|length > 0 %}
                {% include 'VispanlabSiteBundle:ConceptLibrary:concept_block.html.twig' with {
                    'concept': concept,
                    'method': 'getMedia',
                    'block_name' : 'ΔΙΑΓΡΑΜΜΑ/ΧΑΡΤΗΣ/κλπ.',
                } %}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if concept.hasDefinitionForLang('el') %}
                {% include 'VispanlabSiteBundle:ConceptLibrary:concept_block.html.twig' with {
                    'concept': concept,
                    'method': 'definitionForLang',
                    'block_name' : 'ΟΡΙΣΜΟΣ',
                    'locale': 'el',
                } %}
                {% endif %}
                {% for text in concept.alternativeDefinitionsForLang('el') %}
                    {% include 'VispanlabSiteBundle:ConceptLibrary:concept_block.html.twig' with {
                        'concept': concept,
                        'content': text,
                        'block_name' : 'ΕΝΑΛΛΑΚΤΙΚΟΣ ΟΡΙΣΜΟΣ '~(loop.index|roman_numeral),
                        'locale': 'el',
                    } %}
                {% endfor %}
                {% if concept.comments|length > 0 %}
                {% include 'VispanlabSiteBundle:ConceptLibrary:concept_block.html.twig' with {
                    'concept': concept,
                    'method': 'comments',
                    'block_name' : 'ΣΧΟΛΙΑ/ΠΑΡΑΔΕΙΓΜΑ',
                    'locale': 'el',
                } %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="{{asset('bundles/sonataadmin/vendor/bootstrap/js/transition.js')}}"></script>
<script src="{{asset('bundles/sonataadmin/vendor/bootstrap/js/collapse.js')}}"></script>
<script>
    $(document).ready(function() {
        $('.concept-details-block').on('hide.bs.collapse', function (e) {
            $(this).parent().find('.collapse-arrows-wrapper i').removeClass('fa-angle-double-up');
            $(this).parent().find('.collapse-arrows-wrapper i').addClass('fa-angle-double-down');
        });
        $('.concept-details-block').on('show.bs.collapse', function (e) {
            $(this).parent().find('.collapse-arrows-wrapper i').removeClass('fa-angle-double-down');
            $(this).parent().find('.collapse-arrows-wrapper i').addClass('fa-angle-double-up');
        });
    });
</script>
{% endblock %}