{% extends 'VilaspaSiteBundle:Default:index.html.twig' %}

{% block title %}Σύνδεση{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block main %}
<div class="row text-center">
    <div class="col-md-offset-4 col-md-4 well well-lg">
    {% include 'VilaspaUserBundle:Security:login_content.html.twig' %}
    </div>
</div>
{% endblock main %}