@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,300italic,400italic,600italic&subset=latin,greek);

/* Fonts */
html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #74737b;
}

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', sans-serif;
}
/* End Fonts */

.well h4 {
    margin-top: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content {
    overflow: visible;
    padding-bottom: 100px;
}

@media (min-width: 992px) {
    .left-side {
      top: 100px;
    }
    .footer {
        margin-left: 220px;
    }
}

.footer {
    line-height: 100%;
}

.footer small {
    font-size: 85%;
    line-height: 110%;
}

.footer .very-small {
    font-size: 80%;
    line-height: 90%;
}

.under-construction {
    
}

.skin-black .sidebar > .sidebar-menu > .with-spacing {
    margin-top: 44px;
}

body > .header .navbar, body > .header .logo {
    height: 100px;
}

body > .header .logo {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 10px solid #73767b;
}

body > .header .logo img {
    padding-bottom: 0;
}

body > .header .navbar {
    border-bottom: 10px solid #c8dd5e;
}

body > .header .navbar .sidebar-toggle {
    margin-top: 35px;
    margin-left: 35px;
}

.eexa-logo {
    margin-top: 5px;
    height: 80px;
}

.eexa-logo-text {
    color: #73767B;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    margin-top: 28px;
}

body.fixed .wrapper {
    margin-top: 100px;
}

.sonata-bc .breadcrumb {
    margin-top: 29px;
    font-size: 11px;
}

/*
 * Responsive text aligning
 * http://ohryan.ca/2014/08/14/set-responsive-text-alignment-bootstrap-3/
 */
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}

.home-motto-3 {
    border-left: 10px solid #c8dd5e;
}

.home-motto-3 ul {
    padding-left: 0;
    list-style: none;
}

.home-motto-3 ul li:before {
    content: "\25B6";
}

/* Concept Search */
.skin-black .sidebar .dropdown-menu a {
    color: #333;
}

.skin-black .sidebar-form input[type="text"] {
    color: #6d6c71;
    font-weight: bold;
}

.skin-black .sidebar-form input[type="text"]::-webkit-input-placeholder {
    color: #6d6c71;
}

.skin-black .sidebar-form input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #6d6c71;
}

.skin-black .sidebar-form input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
    color: #6d6c71;
}

.skin-black .sidebar-form input[type="text"]:-ms-input-placeholder {
    color: #6d6c71;
}

/*.concept-glossary {
    margin: 5px 0px 0px;
    width: 250px;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
}

.concept-glossary .list-inline {
    margin-left: 10px;
    margin-bottom: 0;
}*/

.concept-glossary.fixed {
    margin-left: 220px;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    background-color: #F9F9F9;
    z-index: 1000;
    padding-top: 10px;
}

@media (min-width: 992px) {
    .concept-glossary.fixed {
        display: block;
    }

    .home-motto-3 {
        margin-top: -150px;
    }
}

.skin-black .concept-search-form {
    color: #8f8d8e;
    background-color: #bbbab8;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.skin-black .sidebar-form input[type="text"]:focus, .skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: transparent;
}

.skin-black .sidebar-form .btn {
    color: #dcdcdc;
}

.skin-black .concept-search-form .input-group {
    border-top: 1px solid #d0cfcd;
    border-bottom: 1px solid #d0cfcd;
}
/* End Concept Search */

/* Concept Details */
.concept-details .well {
    min-height: 120px;
}

.concept-details .well h4 {
    font-weight: bold;
    color: #3C8DBC;
    cursor: pointer;
}

.concept-details .well h4.text-muted {
    color: #999;
}
/* End Concept Details */

/* Virtual Exercises */
.ve-table {
    background-color: #fff;
}

.ve-table ul {
    list-style: none;
    padding-left:0;
}

.ve-correct {
    background-color: lightgreen;
}

.ve-correct .icheckbox_minimal, .ve-correct .iradio_minimal {
    background-color: lightgreen;
}

.ve-wrong {
    background-color: lightpink;
}

.ve-wrong .icheckbox_minimal, .ve-wrong .iradio_minimal {
    background-color: lightpink;
}

.ve-table h4 {
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
}

.solved h4.expand-link {
    font-weight: bold;
    color: #3C8DBC;
    cursor: pointer;
}

.iradio_minimal {
  background-position: -120px 0;
}

.matching-related {
    border-radius: 100%;
}

/* Comments */
.comments h3 {
    /*margin-top: -25px;
    text-align: left;*/
    display: none;
}

.comments .fos_comment_comment_form_holder h3 {
    display: block;
    font-size: 16px;
}

.fos_comment_submit input[type="submit"], .fos_comment_submit input, .fos_comment_comment_edit_show_form, .fos_comment_comment_remove, .fos_comment_comment_reply button, .fos_comment_thread_commentable_action {
    font-size: 12px;
    padding: 6px 12px;
}