.well h4 {
    margin-top: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Concept Search */
.concept-library .sidebar-form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent!important;
}

.skin-black .sidebar-form input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.concept-library .concept-search-form-wrapper {
    display: inline-block;
    width: 300px;
}

.concept-library .concept-search-form {
    border: 1px solid #eee;
}
/* End Concept Search */

/* Concept Details */
.concept-details .well {
    min-height: 120px;
}

.concept-details .well h4 {
    font-weight: bold;
    color: #3C8DBC;
    cursor: pointer;
}
/* End Concept Details */