{% extends base_template %}

{% block sonata_head_title %}{% block title %}Εικονικό Εργαστήριο Χωρικής Ανάλυσης{% endblock %}{% endblock %}

{% block sonata_left_side %}
<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <form action="#" method="GET" class="sidebar-form" role="search">
            <div class="input-group custom-search-form">
                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                    <span class="input-group-btn">
                        <button class="btn btn-flat" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
            </div>
        </form>

        <ul class="sidebar-menu">
            {% set active = false %}
            <li class="treeview active">
                <a href="#">
                    <span>Γνωστικά αντικείμενα</span>
                    <i class="fa pull-right fa-angle-left"></i>
                </a>
                <ul class="treeview-menu{% if active %} active{% endif %}">
                    {% for aoe in all_areas_of_expertise %}
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> {{aoe.name}}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </section>
</aside>
{% endblock %}