{% extends 'VilaspaSiteBundle::base.html.twig' %}

{% block title %}Ο λογαριασμός μου | Pet Date{% endblock %}

{% block main %}
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    <div class="row">
        <h3>Ο λογαριασμός μου</h3>
    </div>
    <div class="row">
        <div class="span12">
            {{ form_rest(form) }}
            <div>
                <input type="submit" class="btn btn-primary" value="Υποβολή" />
            </div>
        </div>
    </div>
</form>
{% endblock %}