{% extends 'VilaspaSiteBundle::base.html.twig' %}

{% block title %}{{user.username}} | Pet Date{% endblock %}

{% block content %}
<p><a href="{{path('dog', {'dog': user.dog.id})}}">Προβολή προφίλ σκύλου</a></p>
<p><a href="{{path('home')}}">Επιστροφή στην αρχική</a></p>
{#<script>
    window.location = "{{path('dog', {'dog': user.dog.id})}}";
</script>#}
{% endblock %}