<IfModule mod_rewrite.c>
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>

    RewriteCond %{HTTP_HOST} ^spatial\.lab\.teiath\.gr$ [NC]
    RewriteCond %{HTTPS} !=on
    RewriteRule ^(.*)$ https://spatial.lab.teiath.gr/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
